body{
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  place-items: center;
  height: 100vh;
}

.logIn{
  width: 600px;
  height: 350px;
  /* border: px solid rgb(53, 53, 231); */
  border-radius: 10px;
  display: grid;
  place-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
.logIn input{
  margin: 10px;
  width: 200px;
  height: 40px;
  border: 2px solid  rgb(53, 53, 231);
  padding-left: 10px;
  font-size: 15px;


}
.logIn input:focus{
  outline:none;
}

.logIn button{
  width: 200px;
  height: 50px;
  cursor: pointer;
  background-color: rgb(133, 133, 224);
  border: transparent;
  color: white;
  border-radius: 2rem;

}
.logIn button:hover{
  background-color: blue;
}

